:root{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --blue-color: #0271f7;
    --red-color: #ed616a;
    --gray-color: rgb(244, 242, 242);
}
body{
    margin: 0;
}

header{
    background-image: url(./images/page-heading-bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    box-sizing: border-box;
}
#menu-icon{
    display: none;
}
.logo{
    height: 30px;
}
.nav-bar a{
    color: white;
    padding: 10px;
    text-decoration: none;
}
.nav-bar button{
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--red-color);
    color: var(--gray-color);
}
.gaming-container{
    background-image: url(./images/banner-bg.jpg);
    background-size: cover;
    background-position: bottom center;
    color: white;
    padding: 100px 10%;
    border-bottom-right-radius: 80px;
    border-bottom-left-radius: 80px;
}
.game-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
}
.banner-image{
    height: 100%;
    border-radius: 10px;
}
.banner-image-container{
    height: 100%;
    position: relative;
}
.offer-percentage{
    background-color: var(--red-color);
    padding: 10px 5px;
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    left: -15px;  
}
.offer-price{
    position: absolute;
    background-color: var(--blue-color);
    padding: 2px;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8rem;
    top: 5px;
    right: 5px;
}
.text-container{
    width: 50%;
}
.text-container input{
    padding: 10px;
    border-radius: 20px;
    border: none;
    box-sizing: border-box;
    width: 100%;
}
.text-container button{
    padding: 10px;
    border-radius: 20px;
    border: none;
    position: absolute;
    right: 0;
    background-color: var(--red-color);
    color: var(--gray-color);  
}
.input{
    position: relative;
    width: 80%;
}

.feature-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: auto;
    width: 80%;
    position: relative;
    padding: 0 10%;
    top: -40px;
}
.feature-item{
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 2px gray;
    color: black;
    padding: 20px 0;
    font-size: 0.7rem;
    text-align: center;
}
.feature-item img{
    background-color: var(--blue-color);
    border-radius: 50%;
    padding: 10px;
    width: 20px;
}



/* trending games */
.trending-games{
    padding: 0 10%;
    margin-bottom: 100px;
}

.trending-games p{
    color: var(--red-color);
    font-size: 0.7rem;
}
.trending{
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}
.trending button{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--red-color);
    color: var(--gray-color);
    font-size: 0.7rem;
}
.trending-game img{
    width: 100%;
    border-radius: 10px;
}

.trending-games-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 15px 0;
}
.trending-game{
    border-radius: 10px;
    background-color: rgb(244, 242, 242);
    position: relative;
}
.trending-game-price{
    padding: 5px;
    background-color: var(--blue-color);
    position: absolute;
    border-radius: 5px;
    color: white;
    top: 5px;
    right: 5px;
}
.old-price{
    text-decoration: line-through;
    font-size: 0.8rem;
    text-align: right;
}
.trending-game-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}
.trending-game-name{
    font-weight: bold;
}
.trending-game-genre{
    color: rgb(96, 95, 95);
}
.add-cart{
    padding: 5px;
    background-color: var(--red-color);
    border-radius: 50%;
    color: var(--gray-color);
}



/* most played  */
.most-played{
    padding: 50px 10%;
    background-color: var(--gray-color);
    border-radius: 60px;
    margin-bottom: 100px;
}
.most-played p{
    color: var(--red-color);
}
.most-played-title-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.most-played-title{
    font-weight: bold;
    font-size: 1.4rem;
}
.most-played-title-info button{
    padding: 10px;
    background-color: var(--red-color);
    border:none;
    border-radius: 10px;
    color: var(--gray-color);
}
.most-played-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}
.most-played-game{
    background-color: rgb(228, 225, 225);
    border-radius: 10px;
    margin: 20px 0;
}
.img img{
    width: 100%;
    border-radius: 10px;
}
.most-played-game-genre{
    font-size: 0.8rem;
    text-align: center;
}
.most-played-game-name{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
.most-played-game-info{
    margin: 10px;
    margin-bottom: 0;
}
.most-played-game-info button{
    display: block;
    padding: 10px;
    border: none;
    background-color: var(--red-color);
    border-radius: 20px;
    color: var(--gray-color);
    position: relative;
    margin: auto;
    top: 20px;
}

/* categories */
.categories{
    padding: 0 10%;
    margin-bottom: 100px;
}
.categories p{
    color: var(--red-color);
    font-size: 0.8rem;
    text-align: center;
}
.categories-title{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
.category-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding-top: 20px;
}
.category-item{
    background-color: var(--blue-color);
    border-radius: 10px;
}
.category-type{
    color: white;
    padding: 10px;
    text-align: center;
}
.category-item img{
    width: 100%;
    border-radius: 10px;
    position: relative;
    top: 3px;
}


/* additional offers */
.additional-offers{
   padding: 0 10%;
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: top center;
   margin-bottom: 100px;
   position: relative;
}
.additional-offers>img{
    position: absolute;
    z-index: -1;
    height: calc(100% - 50px);
    top: 0;
    left: 50%;
    margin-bottom: 50px;
    transform: translateX(-50%);
    border-radius: 20px;
}
.offer1, .offer2{
   width: 40%;
   background-color: var(--gray-color);
   padding: 50px;
   border-radius: 20px;
   box-sizing: border-box;
}
.offer1{
    margin-top: 50px;
}
.offer-description{
    margin: 10px 0;
}

.offer1 p, .offer2 p{
    color: var(--red-color);
    font-size: 0.8rem;
}
.offer-title{
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0;
}
.offer-title span{
    color: var(--blue-color);
}

.offer1 button , .offer2 button{
    border: none;
    padding: 5px;
    background-color: var(--red-color);
    border-radius: 10px;
    color: var(--gray-color);
    margin-top: 10px;
}
.offer2 .input{
    position: relative;
    width: 100%;
}
.offer2 input{
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    padding-right: 100px;
}
.input button{
    position: absolute;
    right: 0;
    top: 0;
}
footer{
    background-image: url(./images/footer-bg.jpg);
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    color: var(--gray-color);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}


/* media queries */

@media screen and (max-width : 1000px){
    #menu-icon{
        display: block;
    }
    .nav-bar{
        display: none;
    }
    .text-container{
        width: 100%;
    }
    .game-content{
        flex-direction: column;
        height: auto;
        gap: 50px;
    }
    .banner-image{
        width: 100%;
        height: auto;
    }
    .input{
        width: 100%;
    }
    .banner-image-container{
        width: 100%;
    }
    .feature-list{
        grid-template-columns: repeat(2, 1fr);
    }
    .trending-games-list{
        grid-template-columns: repeat(2, 1fr);
    }
    .most-played-list{
        grid-template-columns: repeat(2, 1fr);
    }
    .category-list{
        grid-template-columns: repeat(2, 1fr);
    }
    .additional-offers img{
        display: none;
    }
    .additional-offers{
        flex-direction: column;
        gap: 50px;
    }
    .offer1, .offer2{
        width: 100%;
    }
}

@media  screen and (max-width : 750px) {
    .feature-list{
        grid-template-columns: repeat(1, 1fr);
    }
    .trending-games-list{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width : 575px){
    .most-played-list{
        grid-template-columns: repeat(1, 1fr);
    }
    .category-list{
        grid-template-columns: repeat(1, 1fr);
    }
    header, .gaming-container, .trending-games, .most-played, .categories, .additional-offers{
        padding-left:3%;
        padding-right: 3%;
    }
}
